*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
body{
  font-family: 'Public Sans', sans-serif;
 
}
.mob{
  display: flex;

}

  .logo{
    display: none;
  }
  nav.desk, nav.mob{
    width: 100%;
    height: 7vh;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14) ;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    
  }
  .firstpage{
    background-size: 10%;
    display: grid;
    height: 93vh;
    grid-template-columns: 50% 50%;
    background-color:#FAFAFA ;
  }
  
  
  nav.desk button{
    align-items: center;
    align-self: center;
  }
  .logo-desk{
    display: flex;
  }
  nav.desk img{
    align-self: center;
  }
  a{
    text-decoration: none ;
  }
  nav.desk ul{
    list-style: none;
    width: 75%;
    height: 60px;
    margin: 0 auto;
  }
  nav.desk ul li{
    width: 20%;
    text-decoration: none;
    float:left;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #9698A6;
  }
  
 
nav.mob , .hamburger-menu , .mob-bg{
  display: none;
}
.desk-bg{
  background-image: url(./images/bg-intro-desktop.svg);
  background-position: left;
  overflow: hidden;
}
.desk-bg img{
  max-width: 50%;
  position: absolute;
  background-position: left;
  overflow: hidden;
}
.fpd1{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0 80px;
}
.fpd1 h2{
  font-size: 65px;
    padding: 2rem 0;
    font-weight: 300;
    color: #2D364D;
}
.fpd1 p{
  font-size: 21px;
  padding-bottom: 2rem;
  color: #9698A6;
}
button{
  align-self: flex-start;
    padding: 10px 20px;
    border-radius: 30px;
    margin:5px;
    border: none;
    background-image: linear-gradient(90deg, #31D35C, #2BB7DA);
    color: white;
    font-weight: 700;
    font-size: 20px;
}
button:hover{
  opacity: 70%;
}
.secondpage{
  background-color:#F3F4F6 ;
  display: flex;
    flex-direction: column;
    
}
.description{
  max-width: 80%;
    margin: 6rem 10% 2rem;
    display: flex;
    flex-direction: column;
}
.description h1{
  font-size: 45px;
    font-weight: 300;
    padding: 0rem 0 2rem;
    color: #2D364D;
}
.description p{
  max-width: 65%;
    font-size: 20px;
    color: #9698A6;
}
.info-cards{
  display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 1rem auto 6rem;
}
.card1, .card2 , .card3 , .card4{
  display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    margin: 0 1rem;
}
.card1 h1,.card2 h1,.card3 h1,.card4 h1{
  padding: 1.5rem 0;
color: #2D364D;
}
.card1 p,.card2 p,.card3 p,.card4 p{
  color: #9698A6;
}

.page3{
  display: flex;
    flex-direction: column;
    padding: 4rem;
    background-color: #FAFAFA;
}
.page3 .title{
  padding: 0rem 0 2rem;
    font-size: 40px;
}
.all-cards{
  display: flex;
  margin: auto;
}
.card-1,.card-2,.card-3,.card-4{
  width: 270px;
    margin: 2rem 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.09);
}
.card-1 img,.card-2 img,.card-3 img,.card-4 img{
  width: 270px;
    height: 180px;
    border-radius: 10px 10px 0 0;
}
.card-1 h5,.card-2 h5,.card-3 h5,.card-4 h5{
  font-size: 14px;
    margin: 10px 1rem;
    color: #9698A6;
    word-spacing: 1px;
}
.card-1 h2,.card-2 h2,.card-3 h2,.card-4 h2{
  color: #2D364D;
    margin: 0 1rem 10px;
    font-weight: 400;
    cursor: pointer;
}
.card-1 h2:hover,.card-2 h2:hover,.card-3 h2:hover,.card-4 h2:hover{
  color: #31d25f;
    font-weight: 400;
}
.card-1 p,.card-2 p,.card-3 p,.card-4 p{
  color: #9698A6;
    font-weight: 300;
    margin: 10px 0.5rem 20px 1rem;
}
footer{
  background-color: #2D364D;
    display: flex;
    justify-content: space-around;
    padding: 4rem 2rem;
    height: 100px
}
.footerbox1{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social-icons{
  display: flex;
  justify-content: space-between;
}
.footerbox2 , .footerbox3{
  display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

.footerbox4{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerbox4 button{
  align-self: flex-end;
}
.footerbox4 p{
  color:white;
}
a{
  color: #9698A6;
  transition: all 0.5s ease;
}
a:hover{
  color: black;
    border-bottom: 2px solid #31d25f ;
    padding: 10px;
    z-index: 1;
}
nav.desk button {
  align-items: center;
  align-self: center;
  margin: 1rem;
  font-size: 15px;
  padding: 8px 15px;
}
.hov:hover{
  filter: invert(63%) sepia(66%) saturate(893%) hue-rotate(153deg) brightness(93%) contrast(83%);
}















@media screen and (max-width:700px){
  nav.desk, .desk-bg{
    display: none;
  }
  nav.mob , .hamburger-menu , .mob-bg{
    display: block;
  }
  .hamburger-menu{
    position: relative;
  }

  .hamburger-menu .fa-bars , .hamburger-menu .fa-times{
    display: block;
    position: absolute;
    right: 25px;
    top: -45px;
    font-size: 25px;
    font-weight: 100;
    cursor: pointer;
  }
  
  
  .mob ul.decor{
    margin-top: 60px;
    background-color: white;
    position: relative;
   margin: 2rem;
   box-shadow: 0 0 100px black ;
   z-index: 1;

  }
  .mob li.decor{
    text-transform: uppercase;
    text-align: center;
    color: black;
    padding: 20px;
    list-style-type: none;
  }

  .mob ul.hide,.mob li.hide{
    display: none;
  }
  i.hide{
    visibility: hidden;
  }
  
  .logo-mob img{
    width: 11rem;
    justify-content: center;
    align-self: center;
   margin: 0.8rem;
  }
  
  
  .firstpage{
    background-size: 10%;
    height: auto;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    background-color: #FAFAFA;
  }
  .mob-bg{
    background-image: url(./images/bg-intro-mobile.svg);
    background-position: right;
    height: 100%;
    background-repeat: no-repeat;
    background-position-y: top;
  }
  .mob-bg img{
    max-width: 100%;
    clip-path: inset(10% 0 0 0);
    margin-top: -12.3%;

  }
  
  .fpd1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-content: space-around; */
    /* margin: 0 80px; */
    font-size: 12px;
    grid-row: 2/3;
    /* align-content: center; */
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
  }
  .fpd1 h2{
    align-self: center;
    align-content: center;
    text-align: center;
    font-size: 40px;
    padding: 2rem 0;
    font-weight: 400;
  }
  .fpd1 p{
    font-size: 17px;
    padding-bottom: 2rem;
    color: #9698A6;
    align-self: flex-end;
    text-align: center;
  }
  .fpd1 button{
    align-self: center;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 5px;
    margin-bottom: 3rem;
    border: none;
    background-image: linear-gradient(90deg, #31D35C, #2BB7DA);
    color: white;
    font-weight: 700;
  }






  .description h1{
    font-size: 40px;
    text-align: center;
  }
  .description p{
    max-width: 100%;
      font-size: 17px;
     text-align: center;
     line-height: 1.8;
  }
  .info-cards{
    flex-direction: column;
  }
  .card1, .card2 , .card3 , .card4{
     align-items: center;
  }
  .card1 h1,.card2 h1,.card3 h1,.card4 h1{
    padding: 1.5rem 0;
  color: #2D364D;
  font-size: 18px;
  }
  .card1 p,.card2 p,.card3 p,.card4 p{
    color: #9698A6;
    line-height: 1.4;
    font-size: 16px;
    padding-bottom: 1rem;
    text-align: center;
  }








  .page3{
      padding: 0;
 }
  .page3 .title{
    text-align: center;
    margin: 3rem auto 0
  }
  .all-cards{
    flex-direction: column;
  }
  .card-1,.card-2,.card-3,.card-4{
    width: 300px;
      margin:1rem auto;
  }
  .card-1 img,.card-2 img,.card-3 img,.card-4 img{
    width: 300px;
      height: 200px;
  }
  .card-1 h2,.card-2 h2,.card-3 h2,.card-4 h2{
      font-weight: bold;
  }
  .card-1 h2:hover,.card-2 h2:hover,.card-3 h2:hover,.card-4 h2:hover{
      font-weight: bold;
  }
  .card-1 p,.card-2 p,.card-3 p,.card-4 p{
  font-size: 15px;
  }







  footer{
      height: auto;
      flex-direction: column;
    align-items: unset;
  }
  .footerbox1{
      justify-content: unset;
      padding: 0rem 3rem 2rem;
  }
  .srcimg{
    display: none;
  }
  .footerbox2 , .footerbox3{
  align-items: center;
  }
  h6{
    padding-bottom: 1rem;
  }
  .footerbox4 button{
    align-self: center;
    margin: 1.5rem;
  }
  .footerbox4 p{
    align-self: center;
  }
}